body{
    background: linear-gradient(to bottom, #3cfec1, #ffffff);
      margin: 0;
  height: 100vh;              /* 화면 전체 높이 */
  display: flex;              /* flex 컨테이너 */
  justify-content: center;    /* 가로 중앙 */
  align-items: center; 
}
#next {
    display: absolute;
    position:fixed;
    top:110px;
    left:60px;
    font-family:monospace;
    font-size: 40px;
}
a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

#seventh {
  color: rgb(0, 0, 0);
font-family: monospace;
font-size: 19px;
}

#soundButton {
    display: absolute;
    position:fixed;
    top:180px;
    left:60px;
}