#twelveth {
   display: inline-block;   /* 크기 조절 가능하게 */
  padding: 10px 20px;      /* 세로/가로 여백 (텍스트와 박스 간격) */
  background-color: rgb(255, 255, 255);   /* 배경색 */
  color: rgb(0, 0, 0);            /* 글자색 */
  text-decoration: none;   /* 밑줄 제거 */
  border-radius: 10px;     /* 모서리 둥글게 */
  font-size: 16px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: underline; /* 밑줄 유지 */
}

body {
  background-image: url('./assets/sea.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}