body{
 background-color: rgb(0, 0, 0);
      margin: 0;
  height: 100vh;              /* 화면 전체 높이 */
  display: flex;              /* flex 컨테이너 */
  justify-content: center;    /* 가로 중앙 */
  align-items: center; 
}

#twentyfirst {
          color : white;
    font-family: monospace;
font-size: 20px;
}
a:hover {
  color: rgb(255, 255, 255);           /* 마우스 올렸을 때 색 */
  text-decoration: underline; /* hover 시 밑줄 */
}