#thirteenth {
   display: inline-block;   /* 크기 조절 가능하게 */
  padding: 10px 20px;      /* 세로/가로 여백 (텍스트와 박스 간격) */
  background-color: rgb(255, 255, 255);   /* 배경색 */
  color: rgb(0, 0, 0);            /* 글자색 */
  text-decoration: none;   /* 밑줄 제거 */
  border-radius: 10px;     /* 모서리 둥글게 */
  font-size: 16px;
}
body {
    background-color: rgb(18, 3, 43);
    margin: 0;
    height: 100vh;              /* 화면 전체 높이 */
    display: flex;              /* flex 컨테이너 */
    justify-content: center;    /* 가로 중앙 */
    align-items: center;        /* 세로 중앙 */
}
a {
  color: rgb(0, 0, 0);
  text-decoration: underline; /* 밑줄 유지 */
}

